.terraform
.venv
__pycache__/
*.pyc
.env
.terraform/*
venv/*
venv
.env/*
config/upload_config.json
logs/*
reports/*
*.log
temp/*
*.tfstate
*.tfstate.*backup
crash.log       
upload_config.json
p3/*
p3
